<dialog id="my_modal_3" class="modal">
    <div class="modal-box bg-white min-w-[800px]">
      <form method="dialog">
        <div class="modal_info flex items-center justify-between">
            <div>
                <h3 class="font-bold text-lg">Your cart</h3>
            </div>
            <div>
                <button class="btn btn-sm btn-circle btn-ghost">✕</button>
            </div>
        </div>
        <div class="body h-[244px] grid grid-cols-1 grid-rows-2 my-4">
            <div class="border-b border-primary-200 grid grid-cols-2 grid-rows-1 p-2">
                <div class="flex items-center gap-4">
                    <img class="w-[104px] h-[104px]" src="assets/Media/image/Group 4-2.png" alt="image 3-2">
                    <div>
                        <h2>Apple iPhone 6 64GB HDD - 12 Months + Cover + Screen ...</h2>
                        <p><span class="text-primary-600 inline-block mr-2">250,000  FCFA </span> <span class="inline-block">159,900  FCFA</span></p>
                        <p class="text-brand-red font-normal">Remove from cart</p>
                    </div>
                </div>
                <div class="flex items-start w-full">
                    <div class="flex items-center justify-end gap-4 w-full">
                        <div class="grid grid-cols-3 grid-rows-1 w-[126px] h-[36px]">
                            <div (click)="sallerService.reduceProduct_1()" class="border flex items-center justify-center cursor-pointer">
                                <img class="w-[17.82px] h-[1.99px]" src="assets/Media/image/moins.svg" alt="image 3-2">
                            </div>
                            <div class="border flex items-center justify-center">{{ sallerService.nbr_1() }}</div>
                            <div (click)="sallerService.addProduct_1()" class="border flex items-center justify-center cursor-pointer">
                                <img class="w-[17.82px] h-[17.82px]" src="assets/Media/image/plus.svg" alt="image 3-2">
                            </div>
                        </div>
                        <div class="style_price">{{ sallerService.total_1() }} FCFA</div>
                    </div>
                </div>
            </div>
            <!-- 2 -->
            <div class="border-b border-primary-200 grid grid-cols-2 grid-rows-1 p-2">
                <div class="flex items-center gap-4">
                    <img class="w-[104px] h-[104px]" src="assets/Media/image/Group 4-2.png" alt="image 3-2">
                    <div>
                        <h2>Apple iPhone 6 64GB HDD - 12 Months + Cover + Screen ...</h2>
                        <p><span class="text-primary-600 inline-block mr-2">250,000  FCFA </span> <span class="inline-block">159,900  FCFA</span></p>
                        <p class="text-brand-red font-normal">Remove from cart</p>
                    </div>
                </div>
                <div class="flex items-center w-full">
                    <div class="flex items-center justify-end gap-4 w-full">
                        <div class="grid grid-cols-3 grid-rows-1 w-[126px] h-[36px]">
                            <div (click)="sallerService.reduceProduct_2()" class="border flex items-center justify-center cursor-pointer">
                                <img class="w-[17.82px] h-[1.99px]" src="assets/Media/image/moins.svg" alt="image 3-2">
                            </div>
                            <div class="border flex items-center justify-center">{{ sallerService.nbr_2() }}</div>
                            <div (click)="sallerService.addProduct_2()" class="border flex items-center justify-center cursor-pointer">
                                <img class="w-[17.82px] h-[17.82px]" src="assets/Media/image/plus.svg" alt="image 3-2">
                            </div>
                        </div>
                        <div class="style_price">{{ sallerService.total_2() }} FCFA</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal_info flex items-end justify-end my-2">
            <div>
                <h3 class="font-bold text-lg">Total : <span class="text-brand-red">{{ sallerService.total() }} FCFA</span></h3>
            </div>
        </div>
        <div class="modal_info flex items-center justify-between">
            <div>
                <button class="btn-1 bg-primary-200">Continue shopping</button>
            </div>
            <div>
                <button (click)="sallerService.checkout()" class="btn-1 bg-brand-red text-white">Checkout</button>
            </div>
        </div>
      </form>
    </div>
</dialog>