<footer class="footers mt-auto w-screen h-[348px] bg-gradient-to-r from-[#434352] to-[#30303C] shadow-inner backdrop-blur">
    <div class="h-[90%] w-full">
        <div class="grid grid-cols-4 grid-rows-1 max-w-7xl mx-auto h-full">
            <div class="w-full">
                <h2 class="mt-12 mb-4">Customer service</h2>
                <ul class="text-primary-400 space-y-3">
                    <li>My orders</li>
                    <li>Payments</li>
                    <li>Refunds and returns</li>
                    <li>Shipping</li>
                    <li>Help center</li>
                </ul>
            </div>
            <div class="w-full">
                <h2 class="mt-12 mb-4">Get to know us</h2>
                <ul class="text-primary-400 space-y-3">
                    <li>About Onet Mobile</li>
                    <li>Investor relations</li>
                    <li>Terms and conditions</li>
                    <li>Privacy policy</li>
                    <li>Contact us</li>
                </ul>
            </div>
            <div class="w-full">
                <h2 class="mt-12 mb-4">Payment methods</h2>
                <ul class="text-primary-400 space-y-3">
                    <div class="min-h-[49px] flex items-start gap-4">
                        <div>
                            <img src="assets/Media/Svg/Visa_Logo.svg" alt="">
                        </div>
                        <div>
                            <img src="assets/Media/Svg/masterCard.svg" alt="">
                        </div>
                    </div>
                    <div>
                        <h2 class="">Social media</h2>
                        <ul class="text-primary-400 space-y-3">
                            <li>Facebook</li>
                            <li>Twitter</li>
                        </ul>
                    </div>
                </ul>
            </div>
            <div class="w-full">
                <h2 class="mt-12 mb-4">Contacts</h2>
                <div class="text-primary-400 space-y-3 w-full">
                    <div>+242 06 908 3535</div>
                    <div class="flex items-center gap-4 w-full">
                        <div class="w-[30%]">
                            <p>Mon – Fri</p>
                            <p>Sat – Sun</p>
                        </div>
                        <div class="w-[70%]">
                            <p>08:00 AM – 05:00 PM</p>
                            <p>08:00 AM – 02:00 PM</p>
                        </div>
                    </div>
                    <div>
                        <p>10 avenue Nelson Mandela</p>
                        <p>Brazzaville 1414</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="h-[10%] w-full flex items-center justify-center text-primary-700 text-center">Copyright © Onet Mobile 2018. All Rights Reserved</div>
</footer>