.overlay_next_previus{
    opacity: .8;
}

.Trending{
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
}

.smartphone + div:nth-child(1){
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25;
}

.smartphone + div:nth-child(2){
    font-weight: 400;
    font-size: 0.75rem;
}

.banner_text{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.25;
}

.sign > div{
    background: url("../.././../assets/Media/image/Rectangle\ 7.1.png") no-repeat;
}

.sign h2{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25;
    color:white;
}

.btn-send{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.seo p{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25;
}

.overlay_bad ul li:nth-child(1){
    opacity: 1;
}


.menus div:nth-child(2){
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75;
}

