.header-top{
    height: 4.5rem;
    width: 100%;
}

.third{
    line-height: 1rem;
}

.third p:nth-child(1){
    font-size: .75rem;
}

.third p:nth-child(1){
    font-size: 0.875rem;
}

.flag_fr_text{
    font-size: 0.875;
    line-height: 1.25;
}

.flag_fr_logo img{
    height: 20px;
    width: 14px;
}

.second p:nth-child(1){
    font-weight: 400;
}

.first p{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75;
}

.header-bottom{
    height: 3.5rem;line-height: 1.5;
    font-weight: 400;
}


.account_icon{
    height: 1.125rem;
    width: 1.125rem;
}

.account_text{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #F5F5FA;
}