<div class="State w-full">
    <div>
        <label for="State">State</label>
    </div>
    <div class="w-full">
        <select class="select select-bordered input w-full" autocomplete="off" [(ngModel)]="tmp" (change)="onChange()">
            <option class="rounded-none py-8 text-lg" disabled selected>Pick one</option>
            @for(item of listOptions; track item){
                <option class="rounded-none py-8 text-lg" [value]="item">{{item}}</option>
            }
            <option class="rounded-none py-8 text-lg">Other</option>
        </select>
    </div>
</div>